

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}

/* Text blocks */
.text img {
	max-width: 100%;
}


/* Container  */
.container-fluid{
	padding: 0 3%;

}

/* thumbnail  */
/*.thumbnail {
    border: none;
}


*/










