

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}

/* Text blocks */
.text img {
	max-width: 100%;
}


/* Container  */
.container-fluid{
	max-width: 1490px;

}

/* thumbnail  */
.thumbnail {
    border: none;
}

.thumbnail .caption{
	background: #FFEFEA;
	font-size: 2em;
	color: #bf3e11;
}

a:hover{
	text-decoration: none;
}

.technique-img{
	display: block;
}

.label{
	font-size: 1em;

}

#search-bar{
	margin-bottom: 20px;
}







