@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

html,body{
    height: 100%
}

#wrapper{
    min-height: 100%;
    position:relative;
}

.section{
    margin-top: 20px;
}

.mini{
	 padding: 0;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:60px;   /* Height of the footer */
    background-image: url("../images/dark_geometric.png");
    background-repeat: repeat;
}
   
}
footer .container{

    background-image: url("../images/dark_geometric.png");
    background-repeat: repeat;
}
.footer-text{
        margin-top: 15px;
}
footer p {
    font-size: 14px;
    padding-top: 5px;
}

footer a {
    text-decoration: none;
    color: #D1D2D4 !important;
    cursor: pointer;
}


/*.copyright p, .colophon p{
     line-height: 50px !important;
     margin-bottom: 0;
}*/

/* General */

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
    margin: 20px 0;
}

h2 {
    font-family: 'Slabo 27px', serif;
    font-size: 26px;
}
h3 a:hover{
    color: #4ba0b3;
}

h5 {
    font-family: 'Slabo 27px', serif;
    font-weight: 600;
    margin-top: 30px;
}

p {
    font-size: 17px;
    line-height: 1.5;
    /*font-weight: 300; //Harder to read */
}

a {
    color: #336E7B;
}

a:hover d{
    color: #4ba0b3;
    text-decoration: none;
}

/* Navbar */

.navbar-brand>img {
    max-height: 100%;
}

.navbar-brand {
    font-family: 'Slabo 27px', serif;
    color: white;
}
.navbar-brand:hover{
    color: #4ba0b3;
}

.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar{
    -webkit-box-shadow: 0 1px 2px rgba(51, 110, 123, 0.3);
    box-shadow: 0 1px 2px rgba(51, 110, 123, 0.3);
    height: 80px;

}
.navbar-right{
    font-weight: 300;
}
/*not collapse when small*/
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-header::after{
    clear: none !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
/*end not collapse*/
.header{
    background-image: url("../images/dark_geometric.png");
    background-repeat: repeat;

}

/*intro text*/

.intro {
    text-align: center;
}

.intro h1{
    color: #EFEFEF;
    padding-top: 30px;
}

.intro p{
    color: gray;
    font-size: 20px
}

.media img {
    max-width: 100%;
}

.media{
	display: block;
}

/* Menu & Submenu */

.menu {
    padding-right: 3em;
}

.section_active {
    font-weight: bold;
    font-style: underline;
}

.section_inactive {
    color: white !important;
    font-weight: normal;
    font-style: normal;
}
.section_inactive:hover{
    background-color: #191919 !important;
    color: #4ba0b3 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #336E7B;
}
.navbar-top{
   height: 80px;
   line-height: 80px;
   padding-top: 10px;
}
.menu-operation {
    padding: 10px !important;
    margin: 10px 0 15px 15px;
    border-radius: 3px;
    color: #ffffff !important;
}

.menu-operation:hover {
    color: #ffffff !important;
    background-color: #4ba0b3 !important;
}

.block{
    display: block;
    overflow: hidden;
}

/* Container  */

.container-fluid {
    max-width: 1490px;
}

/* Thumbnails  */

.thumbnail {
    border: none;
    
}

.thumbnail-caption {
    font-family: Roboto, sans-serif;
    background: #333333;
    font-size: 1.5em;
    font-weight: 300;
    color: #E5E5E5;
    text-align: center;
    margin: 0 0 1em !important;
    padding: 9px;
}

/* Exhibit editor caption */
figcaption {
    color: #333333 !important;
    font-size: 9pt !important;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.medium-insert-images-wide img {
    width: 100% !important;
}

.thumbnail-image{
    width: 100%;
    /*height: 100%;*/
}

.label {
    font-size: 1em;
    margin: 4px 4px;
    display: block;
    float: left;
    padding: 5px 10px 7px;
}

/* Search */

#search-bar {
    margin-bottom: 20px;
}
label{
    text-align: center !important;
}
/*.input-group{
	width: 100%;
}
*/
.trade-img {
    display: block;
    margin: 1.5em 0 42px;
}

.tags {
    padding: 0 1em; 
}

/* Publications */

.publication h3 {
    margin: 0;
    font-size: 17px;
    color: #336E7B;
}

#searchBar{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #336E7B !important;
    background-color: white;
    height: 35px;
}

#searchBar:focus{
    border-color: #336E7B;
}

#searchBar {
    padding-left: 15px;
    /*margin-left: 10%;*/
}

#semantic-search{
    font-size: 20px;
    color: #EFEFEF;
}
.dropdown-input {
    width: 100% !important;
    max-width: none !important;
    padding-right: 10px;
    padding-left: 10px;
}

.dropdown-toggle{
    background-color: rgba(0,0,0,0);
    box-shadow: none !important;
    text-transform: none;
    border: none;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: #336E7B;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    color: #336E7B;
}
.sentence-select, .sentence-element{
    max-width: 200px;
    clear: none;
    float: left;
    padding-bottom: 20px;
    line-height: 60px;

}
.longer{
     max-width: 340px !important;
     margin-left: 20px;
}

/*.left-column{
	position: fixed;
	display: block;
	height: auto;
}*/

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    /*padding-top: 25px;*/
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*padding: 0 15px;*/
}

/* Header image*/

.header_image, .header_image_noclick{
    margin-bottom: 1.5em;
    display: block;
    height: 100%;
}

#gif{
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 15px;
}

#video-hover{
    position: absolute;
    top:150px;
    font-family: Roboto, serif;
    font-size: 17px;
    color: white;
    opacity: 0.9;
    text-transform: none;
}
.glyphicon-play-circle{
    font-size: 55px;
    text-align: center;
}

.add_to_collection_btn{
    position:absolute; 
    right:25px; 
    top: 10px;
    display: none;
}
.add_to_collection_btn i{
    padding: 5px 0;
}

.remove_from_collection_btn{
    position: absolute; 
    right: 25px; 
    top: 10px;
}

.remove{
    background-color: rgba(0,0,0,0);
    color: #ff9800;
    position: absolute;
    right: 20px;
}
.color-red{
    color: red;
}

.technique_btn{
    position: relative;
    display: inline-block;
    right: 0px !important;
    top: 0px !important;s
}

/*.mobile-menu{
    float: right;
    margin: 0;
    padding:  0 15px 0 0;

}

.mobile-menu ul > li{
    float: left;
    color: white;
}*/

.input-group-btn{
    max-width: 13px;
}

.thumbnail a > img, .wrapper-overlay img {
    min-height: 260px;
}
/*.fullWidth{
    width: 80%;
    padding-left: 10%;
}*/
/*.halfWidth{
    width: 50%;
}
*/

/* Login */
.loginField{
    line-height: 2.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
    padding: 0;
}

/* Collection page*/
.collectionText{
    /*padding-left: 15px;*/
    text-align: center;

}

.collectionLink:hover{
    color: #4ba0b3;
    /*text-decoration: underline;*/
}

.collection{
    background-image: url("../images/dark_geometric.png");
    background-repeat: repeat;
    height: 150px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.collection h3 {
    color: white;
    font-size: 30px;
}
 .extra_text p{
    color: gray;
    margin-top: -60px;
    margin-bottom: 30px;
    z-index: -3;
}

/* Buttons */
.btn {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
}

.btn-primary{
    background-color: #336E7B;
}
.btn-primary:hover{
    background-color: #4ba0b3;
}
.btn-warning{
    background-color: #f27935;
}
.btn-warning:hover{
    background-color: #f2a679;
}

.view-more{
    /*line-height: 40px;*/
    padding: 15px 40px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

hr{
     border-top: 1px solid rgba(51, 110, 123, 0.5);
}

/* Exhibit Editor */
:focus {
    outline: none;
}

#editor-content {
    min-height: 500px;
}

#editor-content p a {
    text-decoration: underline;
}

#editor-title {
    font-family: 'Slabo 27px', serif;
    font-size: 40px !important;
    overflow: none;
    display: block;
}

.medium-insert-buttons {
    left: -30px !important;
}
.exhibit-button{
    padding: 12px 0;
    margin-bottom: 40px;
}

#search-form-exhibit, #search-input-exhibit{
    color: white;
}

#pop-up{
    position: absolute;
    z-index: 2500;
    min-height: 600px;
    width: 60%;
    background-image: url("../images/dark_geometric.png");
    background-repeat: repeat;
    overflow-y: scroll;
    overflow-x: none;
    display: none;
}
#pop-up h2{
    color: white;
}
#close_pop_up i{
    color: red;
}
#pop-up .thumbnail{
    background-color: hsla(50, 33%, 25%, 0);
}

.wrapper-overlay{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}  
.overlay{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    top:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    height: 100%;
    /* styling bellow */  
    background-color: hsla(191, 41%, 34%, 0.74); 
    font-size:40px;  
    color:white;   
    text-align: center;
    display: none;
}  
.overlay > span {
    padding-top: 100px;

}
.wrapper-overlay > img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
/*Account*/
.logout-btn{
    float: right;
    margin-top: -60px;
    margin-right: 20px;
}
.account-section h2{
    padding-left: 30px;
    font-size: 35px;
}

@media (max-width: 1407px) {
    .navbar-header{
        padding-left: 50px;
    }
}

@media (max-width: 1200px) {
    #video-hover{
        font-size: 18px;
        top:120px;
    }
}
@media (max-width: 880px){
    .multiple-buttons{
        display: none !important;
    }
}

@media(max-width: 767px){
    .input-group-btn{
        max-width: 35px;
    }
}

@media (max-width: 600px) {
    #gif{
        position: relative;
    }
    #video-hover{
        display: none;
    }
    #header_image{
        padding: 0;
        margin-top: 15px;
    }    
}

@media (max-width: 560px) {
    .navbar-brand{
        font-size: 17px;
    }
    #menuList > li{
        font-size: 12px;
    }
}
